# Server Configuration
PORT=3000

# Authentication
JWT_SECRET=your_jwt_secret_here

# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_NAME=your_database_name
DB_USER=your_database_user
DB_PASSWORD=your_database_password
DB_DIALECT=postgres

# Docker Database Host
DB_HOST_D=your_docker_database_host

# Cookies
COOKIE_LIFETIME_HOURS=2